@page "/genericQR"

@using NA.SimpleSurveyInvitation.Web.Data

@inject ExampleService MyService

<h3>Generic QR</h3>

<div class="form-group">
    <label for="qRtext">Text to generate QR</label>
    <input type="text" @bind="valueToConvert" class="form-control" id="qRtext" placeholder="Enter text to work with">
</div>

<button class="btn btn-primary" @onclick="GetGenericQR">Generate QR</button>

<br />

@if (processingQR)
{
    <div class="spinner"></div>
}
else if(byteArray.Length != 0)
{
    <p>
        <img class="imageThumbnail" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(@byteArray))" />
    </p>
}

@*<br />

    @if (gitHubBranches == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        @gitHubBranches.Count();

        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Temp. (C)</th>
                    <th>Temp. (F)</th>
                    <th>Summary</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var forecast in gitHubBranches)
                {
                    <tr>
                        <td>@forecast.?Name</td>
                        <td>@forecast.?Commit.?Sha</td>
                        <td>@forecast.?Commit.?Url</td>
                        <td>@forecast.?Protected</td>
                    </tr>
                }
            </tbody>
        </table>
    }*@