@page "/Survey"
@inject NavigationManager NavigationManager

<h3>Survey</h3>

<div class="alert alert-warning alert-dismissible fade @alertStatus" role="alert">
    <strong>Congrats!</strong> You have sent your answers.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" @onclick="HideAlerts">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div>
    <div class="form-group">
        <label class="control-label " for="region_id">Select a year?</label>
        <select class="form-control" id="region_id" name="region" value="@SelectedYear" @onchange="ChangeYear">
            @for (int i = 2015; i < DateTime.Now.Year + 1; i++)
            {
                <option value="@i">@i</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label class="control-label">What is your favorite color?</label>
        @foreach (var item in Enum.GetNames(typeof(Question.Colors)))
        {
            <div>
                <input type="radio" name="question1" id="@item" value="@item" @onchange="SelectionChanged" checked=@(selectedAnswer.Equals(item,StringComparison.OrdinalIgnoreCase)) />
                <label for="@item">@item</label>
            </div>
        }
    </div>

    <div class="form-group">       
        <button class="btn btn-primary" @onclick="SendData">Submit</button>
    </div>
</div>

@code {
    private int SelectedYear { get; set; } = 2015;
    string selectedAnswer = "";
    string alertStatus = "hide";

    void ChangeYear(ChangeEventArgs e)
    {
        SelectedYear = Convert.ToInt32(e.Value.ToString());
    }

    public void HideAlerts()
    {        
        alertStatus = "hide";
    }

    public void SendData()
    {
        SelectedYear = 2015;
        selectedAnswer = "";
        alertStatus = "show";
    }

    void SelectionChanged(ChangeEventArgs args)
    {
        selectedAnswer = args.Value.ToString();
    }

    public class Question
    {
        public enum Colors { Red, Green, Blue, Yellow };
    }
}
